h2{
    color: brown;
}
.descripcion{
    color: blue;
}
.nombre{
    color: green;
}
.cancion{
    color: rgb(130, 130,200 );
}
p{
    color: rgb(16, 133, 127);
}
.rhcp{
    width: 200px;
    height: 200px;
    background-image: url(./imagenes/rhcp\ 1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}