@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

@font-face {
    font-family: 'Octa';
    src: url(./fuentes/ComforterBrush-Regular.ttf);
}
*{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: bold;
}

h2{
    font-family: 'Octa';
}

.texto1{
    font-family: 'Octa';
}

.descripcion{
    color: blue;
}
.nombre{
    color: green;
}
.cancion{
    color: rgb(130, 130,200 );
}
p{
    color: blue;
}
.rhcp{
    width: 200px;
    height: 200px;
    background-image: url(./imagenes/rhcp\ 1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
